.footer{
  &-title {
    font-size: 1.8rem;
    line-height: 120%;
    color: $teal;
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
  &-list{
    list-style-type: none;
    line-height: 170%;
    color: $green;
    padding-left: 0;
    a{
      text-decoration: none;
      font-size: 1rem;
      &:hover{
        text-decoration: underline;
        color: $teal;
      }
    }
  }
  &-btn{
    position: relative;
    &:before{
      content: '';
      top: -1.1875rem;
      left: -0.9375rem;
      width: 18.8125rem;
      height: 6rem;
      border: 0.0625rem solid $cyan-100;
      background-color: $white;
      position: absolute;
      z-index: -1;
    }
  }
  &-teal{
    color: $teal;
    font-size: 0.8rem;
    a{
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  &-svg{
    fill: $teal;
  }
  &-text{
    font-size: 0.8rem;
    line-height: 170%;
    letter-spacing: 0.03125rem;
    color: $green-light;
    font-weight: 700;
  }
  .nav-link{
    padding: 0;
  }
  .nav-item{
    padding-right: 0;
  }
}

.warning {
  position: fixed;
  bottom: 1rem;
  left: 0;
  display: none;
  width: 100%;
  z-index: 200;
  font-size: 0.875rem;
  color: $green;
  &__wrapper{
    padding: 1rem;
    background-color: rgba(250,250,250,0.9);
    border: 0.0625rem solid #E2E2E2;
  }
  &--active{
    display: flex;
  }
  &__apply{
    padding: 0 0.9375rem;
    font-size: 0.625rem;
    max-width: 3.125rem;
    height: 1.875rem;
  }
}


@include media-breakpoint-down(lg) {
  .footer {
    &-btn{
      &:before{
        display: none;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .footer {
    &-title {
      font-size: 1.375rem;
    }
    &-text{
      font-size: 1rem;
    }
    &-list{
      a{
        font-size: 1rem;
      }
    }
  }
}
@include media-breakpoint-down(sm) {
  .footer{
    &-btn {
      width: 100%;
    }
    &-title{
      text-align: center;
      font-size: 1.3rem;
    }
    &-text{
      text-align: center;
    }
  }
}
@media(max-width: 353px){
  .footer{
    &-text{
      font-size: 0.8rem;
    }
  }
}

